*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: sans-serif;
}

.cover
{
	background-image: url("musicc.jpg");
	background-size: cover;
	height: 100vh;
}

.row {
	position: absolute;
	top: 0%;
	left: 0%;
	right: 0%;
	transform: translate(0%, 0%);
}

.container
{
	width: 100%;
	height: 60px;
	background-color: white;
}
	

#menu ul
{
	list-style: none;
	float: left;
}

#menu ul li
{
	background-color: white;
	width: 80px;
	height: 40px;
	text-align: center;
	line-height: 55px;
	float: left;
	position: relative;
	padding: 0px 5px;
}

#menu ul li a
{
	display: block;
	font-family: sans-serif;
	color: black;
	font-size: 16px;
	text-decoration: none
}

#menu ul li a:hover
{
	background-color: darkorange;
}

#menu ul ul
{
	display: none;
	position: absolute;
	border-radius: 0px 0px 4px 4px;
}

#menu ul li:hover > ul
{
	display: block;
}

#menu ul ul ul
{
	margin-left: 125px;
	top: 0px;
}

#menu ul li ul li
{
	display: block;
	width: 120px;
	height: 70px;
	border: 4px;
}

h1
{
	float: left;
	line-height: 55px;
	padding: 0px 20px;
}

h1 a
{
	font-size: 30px;
	font-family: sans-serif;
	color: black;
	text-decoration: none;
	float: left;
}

#menu p
{
	float: right;
}

#menu p a
{
	text-decoration: none;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 60px;
	border: 2px solid black;
	color: black;
	border-radius: 25px;
	padding: 15px 30px;
	margin-right: 20px;
}

#menu p a:hover
{
	transition: 0.5s ease-in;
	background-color: darkorange;
}

.tentang
{
	position: absolute;
	margin-left: 36%;
	margin-top: 5%;
	padding: 10px 20px;
}

h2
{
	font-size: 24px;
	font-family: sans-serif;
}

.tentang 
{
	position: absolute;
	margin-left: 34%;
	margin-top: 5%;
	padding: 10px 20px;
}

.tentang img
{
	width: 600px;
	height: 400px;
}

.pertanyaan
{
	position: absolute;
	margin-top: 25%;
	margin-left: 37%;
	padding: 10px 20px;
	border-style: inset;
	border-color: lightgrey;
	border-width: 15px;
}

.pertanyaan p1 a
{
	font-size: 18px;
	text-decoration: none;
	color: black;
	padding: 10px 20px;
}

.pertanyaan p1 a:hover
{
	border: 1px solid black;
}

.pertanyaan p2 a
{
	font-size: 18px;
	text-decoration: none;
	color: black;
	padding: 10px 20px;
}

.pertanyaan p2 a:hover
{
	border: 1px solid black;
}

.pertanyaan p3 a
{
	font-size: 18px;
	text-decoration: none;
	color: black;
	padding: 10px 20px;
}

.pertanyaan p3 a:hover
{
	border: 1px solid black;
}
