*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: sans-serif;
}

.cover
{
	background-image: url("musicc.jpg");
	background-size: cover;
	height: 100vh;
}

.row {
	position: absolute;
	top: 0%;
	left: 0%;
	right: 0%;
	transform: translate(0%, 0%);
}

.container
{
	width: 100%;
	height: 64px;
	background-color: white;
}

#logo
{
	float: right;
	margin-right: 100px;
}

#logo ul
{
	display: block;
}

#logo img
{
	display: block;
	width: 105px;
	height: 53px;
}

img
{
	max-width: 100%;
	height: auto;
}

#logo ul
{
	border-radius: 0px 0px 4px 4px;
}

#logo ul li
{
	position: relative;
	list-style: none;
	padding: 15px 10px;
	background-color: white;
	text-align: center;
	position: relative;
	display: none;
}

#logo ul:hover > li
{
	display: block;
}

#logo ul li a
{
	display: block;
	text-decoration: none;
	font-size: 16px;
	color: black;
}

#logo ul li a:hover
{
	color: darkorange;
}

#menu ul
{
	list-style: none;
	float: left;
}

#menu ul li
{
	background-color: white;
	width: 80px;
	height: 40px;
	text-align: center;
	line-height: 55px;
	float: left;
	position: relative;
	padding: 0px 5px;
}

#menu ul li a
{
	display: block;
	font-family: sans-serif;
	color: black;
	font-size: 16px;
	text-decoration: none
}

#menu ul li a:hover
{
	background-color: darkorange;
}

#menu ul ul
{
	display: none;
	position: absolute;
	border-radius: 0px 0px 4px 4px;
}

#menu ul li:hover > ul
{
	display: block;
}

#menu ul ul ul
{
	margin-left: 125px;
	top: 0px;
}

#menu ul li ul li
{
	display: block;
	width: 120px;
	height: 60px;
	border: 0px;
}

h1
{
	float: left;
	line-height: 55px;
	padding: 0px 20px;
}

h1 a
{
	font-size: 30px;
	font-family: sans-serif;
	color: black;
	text-decoration: none;
	float: left;
}

.filter
{
	position: relative;
	width: 8%;
	margin-left: 10px;
	margin-top: 30px;
	padding: 10px 20px;
	text-transform: uppercase;
	background-color: lightgrey;
}

h2
{
	margin-left: 22px;
}

p1 a
{
	margin-left: 18px;
	text-decoration: none;
	color: black;
}

p1 a:hover
{
	color: darkorange;
}

p2 a
{
	margin-left: 34px;
	text-decoration: none;
	color: black;
}

p2 a:hover
{
	color: darkorange;
}

p3 a
{
	margin-left: 3px;
	text-decoration: none;
	color: black;
}

p3 a:hover 
{
	color: darkorange;
}

.contactinfo
{
	top: 80px;
	margin-left: 500px;
	position: absolute;
}

h3
{
	font-size: 30px;
	color: black;
}

p
{
	font-size: 13px;
	color: grey;
}

p4 a
{
	font-size: 20px;
	color: black;
}